/*
** Estilos para formulários login e cadastro de novo usuário
*/
#sign-section {
  display: flex;
  align-items: center;
  height: 100vh;
}

#signup-section {
  display: flex;
  align-items: center;
  height: 100vh;
}

.sign-form-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  header {
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      color: #181818;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    fieldset {
      border: none;

      input {
        border: solid 1px #131313;
        border-radius: 4px;
        text-indent: 6px;
        padding: 14px 0;
        font-size: 16px;
        width: 100%;
      }

      label {
        display: none;
      }
    }
  }
}

.form-submit-button {
  padding: 0 24px;
  line-height: 32px;
  font-size: 16px;
  background-color: #181818;
  border: 1px solid #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions > a {
  color: #2a34f7;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
